* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body, #root {
  width: 100vw;
  height: 100vh;

  background-color: #320d6d;

  font-family: 'Orbitron', sans-serif;
}

button {
  border: none;
}